<a href="https://colab.research.google.com/github/iron59zug/YFapi/blob/master/plot_ALL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 2b continued - 2020-07-29

# plotting 3EMA, MACD, RSI, OBV, etc
# using data from Yahoo

# libs
import datetime
import numpy as np
import pandas as pd
import pandas_datareader as pdr #Jul 07, 2020:
#https://buildmedia.readthedocs.org/media/pdf/pandas-datareader/latest/pandas-datareader.pdf
import matplotlib.pyplot as plt
import plotly.graph_objects as go # interactive chart
#import ipywidgets as widgets

#data
dsrc='yahoo'
stox='TSLA'
sdate='2019-06-30'
edate = str(datetime.date.today())
rown=999

#calculation
sday=30; lday=252; #EMA
STs=12; MTs=20; LTs=26; SLs=9 #MACD
days=14 #RSI
 #OBV

#layout
fs=28; #font size
fsx=36; fsy=9 #figure size, x=width and y=heigth
plt.rc('xtick',labelsize=fs)
plt.rc('ytick',labelsize=fs)
plt.style.use('fivethirtyeight')

In [6]:
# prep for data from Yahoo only, other src => other df treatment
df = pdr.DataReader(stox, data_source=dsrc,start=sdate)
"""# alternative source from dsrc='stooq'

"""
"""# alternative source from a csv file
from google.colab import files
dfu = files.upload()
df = df.set_index(pd.DatetimeIndex(df['Date']))
""" 
df.rename(columns={'High':'h', 'Low':'l', 'Open':'o', 'Close':'c', 
                   'Volume':'vol', 'Adj Close':'ac'}, inplace=True)
df.drop(['h','l','o'], axis=1, inplace=True) #delete unnecessary columns
# df = df.tail(rown) # only use last x lines of data
dfs = df.iloc[np.r_[0:2, -2:0]]; dfs # show a small sample


#https://stackoverflow.com/questions/45441885/how-can-i-create-a-dropdown-menu-from-a-list-in-tkinter
#https://towardsdatascience.com/bring-your-jupyter-notebook-to-life-with-interactive-widgets-bc12e03f0916

                      c       vol           ac
Date
2019-07-01   227.169998   8238000   227.169998
2019-07-02   224.550003   9259000   224.550003
2020-07-27  1539.599976  15988400  1539.599976
2020-07-28  1476.489990  15617865  1476.489990