<a href="https://colab.research.google.com/github/iron59zug/YFapi/blob/master/plot_ALL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# last update: 2020-11-29

# plotting 3EMA, MACD, RSI, OBV, etc
# using data from Yahoo

# libs
import datetime
import numpy as np
import pandas as pd
# import seaborn as sns
import pandas_datareader as pdr #Jul 07, 2020:
#https://buildmedia.readthedocs.org/media/pdf/pandas-datareader/latest/pandas-datareader.pdf
import pandas_datareader.data as web # read date from stooq

import matplotlib.pyplot as plt # static plot
import plotly.graph_objects as go # interactive plot
#import ipywidgets as widgets

#data
dsrc='yahoo'
stox='TSLA'
sdate='2019-06-30'
rown=999

dsrca = 'stooq'
edate = str(datetime.date.today())
rowna = 2

#calculation
sday=30; lday=252; #EMA
STs=12; MTs=20; LTs=26; SLs=9 #MACD
days=14 #RSI
 #OBV

#layout
fs=28; #font size
fsx=36; fsy=9 #figure size, x=width and y=heigth
plt.rc('xtick',labelsize=fs)
plt.rc('ytick',labelsize=fs)
plt.style.use('fivethirtyeight')

In [2]:
# prep for data from Yahoo only, other src => other df treatment
df = pdr.DataReader(stox, data_source=dsrc,start=sdate)

"""# alternative source from dsrca='stooq'
dfa = web.DataReader(stox,dsrca,start=sdate,end=edate)
dfa[:rown]
"""

"""# alternative source from a csv file
from google.colab import files
dfu = files.upload()
df = df.set_index(pd.DatetimeIndex(df['Date']))
""" 

df.rename(columns={'High':'h', 'Low':'l', 'Open':'o', 'Close':'c', 
                   'Volume':'vol', 'Adj Close':'ac'}, inplace=True)
df.drop(['h','l','o'], axis=1, inplace=True) #delete unnecessary columns
# df = df.tail(rown) # only use last x lines of data
dfs = df.iloc[np.r_[0:2, -2:0]]; dfs # show a small sample


#https://stackoverflow.com/questions/45441885/how-can-i-create-a-dropdown-menu-from-a-list-in-tkinter
#https://towardsdatascience.com/bring-your-jupyter-notebook-to-life-with-interactive-widgets-bc12e03f0916

                     c         vol          ac
Date
2019-07-01   45.433998  41067000.0   45.433998
2019-07-02   44.910000  46295000.0   44.910000
2020-11-25  574.000000  48930200.0  574.000000
2020-11-27  585.760010  37561100.0  585.760010